/* index.css */

body {
  background-color: #000; /* black background */
  color: #fff; /* white text */
  font-family: Arial, sans-serif; /* modern, clean font */
}

h1, h2, h4, h5, h6 {
  color: #f00; /* red headings */
}

h3 {
  color:#000
}

.navbar {
  border-bottom: 1px solid #f00; /* red border under the navbar */
}

.nav-link {
  color: #f00; /* red nav links */
}

.nav-link:hover {
  color: #fff; /* white nav links on hover */
}

footer {
  background-color: #222; /* dark grey footer */
  padding: 20px 0; /* space around the footer content */
  color: #f00; /* red footer text */
  font-size: 0.8em; /* smaller footer text */
}

footer a {
  color: #f00; /* red footer links */
}

footer a:hover {
  color: #fff; /* white footer links on hover */
}

.header-text {
  font-size: 2.5em; /* Increase the size of the header */
}

.ticker-text {
  font-size: 0.8em; /* Decrease the size of the ticker */
}

.about-us {
  padding: 60px;
}

.our-services {
  padding: 60px;
}

.faq {
  padding: 60px;
}
